@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../scss/_icons.scss */
.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../scss/_icons.scss */
.icon-phone:before {
  content: "\e600";
}

/* line 29, ../scss/_icons.scss */
.icon-user:before {
  content: "\e601";
}

/* line 32, ../scss/_icons.scss */
.icon-users:before {
  content: "\e602";
}

/* line 35, ../scss/_icons.scss */
.icon-vcard:before {
  content: "\e603";
}

/* line 38, ../scss/_icons.scss */
.icon-location:before {
  content: "\e604";
}

/* line 41, ../scss/_icons.scss */
.icon-target:before {
  content: "\e605";
}

/* line 44, ../scss/_icons.scss */
.icon-share:before {
  content: "\e606";
}

/* line 47, ../scss/_icons.scss */
.icon-star:before {
  content: "\e607";
}

/* line 50, ../scss/_icons.scss */
.icon-star2:before {
  content: "\e608";
}

/* line 53, ../scss/_icons.scss */
.icon-chat:before {
  content: "\e609";
}

/* line 56, ../scss/_icons.scss */
.icon-comment:before {
  content: "\e60a";
}

/* line 59, ../scss/_icons.scss */
.icon-house:before {
  content: "\e60b";
}

/* line 62, ../scss/_icons.scss */
.icon-popup:before {
  content: "\e60c";
}

/* line 65, ../scss/_icons.scss */
.icon-printer:before {
  content: "\e60d";
}

/* line 68, ../scss/_icons.scss */
.icon-cog:before {
  content: "\e60e";
}

/* line 71, ../scss/_icons.scss */
.icon-camera:before {
  content: "\e60f";
}

/* line 74, ../scss/_icons.scss */
.icon-calendar:before {
  content: "\e610";
}

/* line 77, ../scss/_icons.scss */
.icon-newspaper:before {
  content: "\e611";
}

/* line 80, ../scss/_icons.scss */
.icon-book:before {
  content: "\e612";
}

/* line 83, ../scss/_icons.scss */
.icon-graduation:before {
  content: "\e613";
}

/* line 86, ../scss/_icons.scss */
.icon-earth:before {
  content: "\e614";
}

/* line 89, ../scss/_icons.scss */
.icon-logout:before {
  content: "\e616";
}

/* line 92, ../scss/_icons.scss */
.icon-login:before {
  content: "\e617";
}

/* line 95, ../scss/_icons.scss */
.icon-checkmark:before {
  content: "\e618";
}

/* line 98, ../scss/_icons.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 101, ../scss/_icons.scss */
.icon-minus:before {
  content: "\e61a";
}

/* line 104, ../scss/_icons.scss */
.icon-plus:before {
  content: "\e61b";
}

/* line 107, ../scss/_icons.scss */
.icon-question:before {
  content: "\e61c";
}

/* line 110, ../scss/_icons.scss */
.icon-cycle:before {
  content: "\e61d";
}

/* line 113, ../scss/_icons.scss */
.icon-cw:before {
  content: "\e61e";
}

/* line 116, ../scss/_icons.scss */
.icon-ccw:before {
  content: "\e61f";
}

/* line 119, ../scss/_icons.scss */
.icon-arrow:before {
  content: "\e620";
}

/* line 122, ../scss/_icons.scss */
.icon-loop:before {
  content: "\e621";
}

/* line 125, ../scss/_icons.scss */
.icon-history:before {
  content: "\e622";
}

/* line 128, ../scss/_icons.scss */
.icon-list:before {
  content: "\e623";
}

/* line 131, ../scss/_icons.scss */
.icon-layout:before {
  content: "\e625";
}

/* line 134, ../scss/_icons.scss */
.icon-list2:before {
  content: "\e626";
}

/* line 137, ../scss/_icons.scss */
.icon-text:before {
  content: "\e627";
}

/* line 140, ../scss/_icons.scss */
.icon-docs:before {
  content: "\e628";
}

/* line 143, ../scss/_icons.scss */
.icon-pictures:before {
  content: "\e629";
}

/* line 146, ../scss/_icons.scss */
.icon-folder:before {
  content: "\e62a";
}

/* line 149, ../scss/_icons.scss */
.icon-download:before {
  content: "\e62b";
}

/* line 152, ../scss/_icons.scss */
.icon-book2:before {
  content: "\e62c";
}

/* line 155, ../scss/_icons.scss */
.icon-arrow-left:before {
  content: "\e62d";
}

/* line 158, ../scss/_icons.scss */
.icon-arrow-down:before {
  content: "\e62e";
}

/* line 161, ../scss/_icons.scss */
.icon-arrow-up:before {
  content: "\e62f";
}

/* line 164, ../scss/_icons.scss */
.icon-arrow-right:before {
  content: "\e630";
}

/* line 167, ../scss/_icons.scss */
.icon-arrow-right2:before {
  content: "\e671";
}

/* line 170, ../scss/_icons.scss */
.icon-arrow-left2:before {
  content: "\e631";
}

/* line 173, ../scss/_icons.scss */
.icon-arrow-down2:before {
  content: "\e632";
}

/* line 176, ../scss/_icons.scss */
.icon-arrow-up2:before {
  content: "\e633";
}

/* line 179, ../scss/_icons.scss */
.icon-arrow-left3:before {
  content: "\e635";
}

/* line 182, ../scss/_icons.scss */
.icon-arrow-down3:before {
  content: "\e636";
}

/* line 185, ../scss/_icons.scss */
.icon-arrow-up3:before {
  content: "\e637";
}

/* line 188, ../scss/_icons.scss */
.icon-arrow-right3:before {
  content: "\e638";
}

/* line 191, ../scss/_icons.scss */
.icon-arrow-left4:before {
  content: "\e639";
}

/* line 194, ../scss/_icons.scss */
.icon-arrow-down4:before {
  content: "\e63a";
}

/* line 197, ../scss/_icons.scss */
.icon-arrow-up4:before {
  content: "\e63b";
}

/* line 200, ../scss/_icons.scss */
.icon-uniE63C:before {
  content: "\e63c";
}

/* line 203, ../scss/_icons.scss */
.icon-menu:before {
  content: "\e63d";
}

/* line 206, ../scss/_icons.scss */
.icon-ellipsis:before {
  content: "\e63e";
}

/* line 209, ../scss/_icons.scss */
.icon-directions:before {
  content: "\e63f";
}

/* line 212, ../scss/_icons.scss */
.icon-mail:before {
  content: "\e640";
}

/* line 215, ../scss/_icons.scss */
.icon-paperclip:before {
  content: "\e641";
}

/* line 218, ../scss/_icons.scss */
.icon-user-add:before {
  content: "\e642";
}

/* line 221, ../scss/_icons.scss */
.icon-map:before {
  content: "\e643";
}

/* line 224, ../scss/_icons.scss */
.icon-clock:before {
  content: "\e644";
}

/* line 227, ../scss/_icons.scss */
.icon-flow-tree:before {
  content: "\e645";
}

/* line 230, ../scss/_icons.scss */
.icon-screen:before {
  content: "\e650";
}

/* line 233, ../scss/_icons.scss */
.icon-search:before {
  content: "\e657";
}

/* line 236, ../scss/_icons.scss */
.icon-network:before {
  content: "\e658";
}

/* line 239, ../scss/_icons.scss */
.icon-light-bulb:before {
  content: "\e659";
}

/* line 242, ../scss/_icons.scss */
.icon-link:before {
  content: "\e65a";
}

/* line 245, ../scss/_icons.scss */
.icon-compass:before {
  content: "\e65b";
}

/* line 248, ../scss/_icons.scss */
.icon-bookmark:before {
  content: "\e64e";
}

/* line 251, ../scss/_icons.scss */
.icon-keyboard:before {
  content: "\e65c";
}

/* line 254, ../scss/_icons.scss */
.icon-warning:before {
  content: "\e65d";
}

/* line 257, ../scss/_icons.scss */
.icon-copyright:before {
  content: "\e648";
}

/* line 260, ../scss/_icons.scss */
.icon-uniF6AC:before {
  content: "\e64a";
}

/* line 263, ../scss/_icons.scss */
.icon-domain:before {
  content: "\e64b";
}

/* line 266, ../scss/_icons.scss */
.icon-forest:before {
  content: "\e64c";
}

/* line 269, ../scss/_icons.scss */
.icon-presentation:before {
  content: "\e652";
}

/* line 272, ../scss/_icons.scss */
.icon-shoppingbag:before {
  content: "\e653";
}

/* line 275, ../scss/_icons.scss */
.icon-bus:before {
  content: "\e654";
}

/* line 278, ../scss/_icons.scss */
.icon-place:before {
  content: "\e655";
}

/* line 281, ../scss/_icons.scss */
.icon-share2:before {
  content: "\e656";
}

/* line 284, ../scss/_icons.scss */
.icon-uniF751:before {
  content: "\e615";
}

/* line 287, ../scss/_icons.scss */
.icon-uniF67F:before {
  content: "\e624";
}

/* line 290, ../scss/_icons.scss */
.icon-uniF60D:before {
  content: "\e646";
}

/* line 293, ../scss/_icons.scss */
.icon-file:before {
  content: "\e647";
}

/* line 296, ../scss/_icons.scss */
.icon-mailinglists:before {
  content: "\e649";
}

/* line 299, ../scss/_icons.scss */
.icon-layers:before {
  content: "\e64d";
}

/* line 302, ../scss/_icons.scss */
.icon-restore:before {
  content: "\e64f";
}

/* line 305, ../scss/_icons.scss */
.icon-checkbox:before {
  content: "\e651";
}

/* line 308, ../scss/_icons.scss */
.icon-checkbox2:before {
  content: "\e65e";
}

/* line 311, ../scss/_icons.scss */
.icon-fastleft:before {
  content: "\e65f";
}

/* line 314, ../scss/_icons.scss */
.icon-fastright:before {
  content: "\e660";
}

/* line 317, ../scss/_icons.scss */
.icon-fastup:before {
  content: "\e661";
}

/* line 320, ../scss/_icons.scss */
.icon-fastdown:before {
  content: "\e662";
}

/* line 323, ../scss/_icons.scss */
.icon-sunrise:before {
  content: "\e664";
}

/* line 326, ../scss/_icons.scss */
.icon-rainy:before, .weather_501:before,
.weather_502:before,
.weather_503:before,
.weather_504:before,
.weather_511:before,
.weather_520:before,
.weather_521:before,
.weather_522:before,
.weather_531:before {
  content: "\e665";
}

/* line 329, ../scss/_icons.scss */
.icon-rainy2:before {
  content: "\e666";
}

/* line 332, ../scss/_icons.scss */
.icon-windy:before {
  content: "\e667";
}

/* line 335, ../scss/_icons.scss */
.icon-windy2:before {
  content: "\e668";
}

/* line 338, ../scss/_icons.scss */
.icon-sun:before, .weather_800.pod_d:before {
  content: "\e669";
}

/* line 341, ../scss/_icons.scss */
.icon-cloudy:before {
  content: "\e66a";
}

/* line 344, ../scss/_icons.scss */
.icon-cloud:before {
  content: "\e66b";
}

/* line 347, ../scss/_icons.scss */
.icon-cloud2:before {
  content: "\e66c";
}

/* line 350, ../scss/_icons.scss */
.icon-moon:before, .weather_800.pod_n:before {
  content: "\e66d";
}

/* line 353, ../scss/_icons.scss */
.icon-sun2:before {
  content: "\e66e";
}

/* line 356, ../scss/_icons.scss */
.icon-lightning:before {
  content: "\e66f";
}

/* line 359, ../scss/_icons.scss */
.icon-rainy3:before {
  content: "\e670";
}

/* line 362, ../scss/_icons.scss */
.icon-snowflake:before {
  content: "\e673";
}

/* line 365, ../scss/_icons.scss */
.icon-cloudy2:before, .weather_801.pod_d:before, .weather_802.pod_d:before, .weather_803.pod_d:before {
  content: "\e674";
}

/* line 368, ../scss/_icons.scss */
.icon-windy4:before {
  content: "\e675";
}

/* line 371, ../scss/_icons.scss */
.icon-snowy:before {
  content: "\e676";
}

/* line 374, ../scss/_icons.scss */
.icon-cloud3:before, .weather_801.pod_n:before, .weather_802.pod_n:before, .weather_803.pod_n:before {
  content: "\e677";
}

/* line 377, ../scss/_icons.scss */
.icon-weather:before, .weather_741.pod_d:before {
  content: "\e678";
}

/* line 380, ../scss/_icons.scss */
.icon-snowy2:before {
  content: "\e679";
}

/* line 383, ../scss/_icons.scss */
.icon-weather2:before {
  content: "\e67a";
}

/* line 386, ../scss/_icons.scss */
.icon-weather3:before, .weather_741.pod_n:before {
  content: "\e67b";
}

/* line 389, ../scss/_icons.scss */
.icon-weather4:before, .weather_701:before,
.weather_711:before,
.weather_721:before,
.weather_7301:before,
.weather_751:before,
.weather_761:before,
.weather_771:before,
.weather_781:before {
  content: "\e67c";
}

/* line 392, ../scss/_icons.scss */
.icon-cloudy3:before {
  content: "\e67d";
}

/* line 395, ../scss/_icons.scss */
.icon-lightning2:before {
  content: "\e67e";
}

/* line 398, ../scss/_icons.scss */
.icon-lines:before {
  content: "\e67f";
}

/* line 401, ../scss/_icons.scss */
.icon-cloud4:before, .weather_804:before {
  content: "\e680";
}

/* line 404, ../scss/_icons.scss */
.icon-thermometer:before {
  content: "\e681";
}

/* line 407, ../scss/_icons.scss */
.icon-compass2:before {
  content: "\e682";
}

/* line 410, ../scss/_icons.scss */
.icon-lightning3:before {
  content: "\e683";
}

/* line 413, ../scss/_icons.scss */
.icon-lightning4:before, .weather_200:before,
.weather_201:before,
.weather_202:before,
.weather_210:before,
.weather_211:before,
.weather_212:before,
.weather_221:before,
.weather_230:before,
.weather_231:before,
.weather_232:before {
  content: "\e684";
}

/* line 416, ../scss/_icons.scss */
.icon-rainy4:before, .weather_300:before, .weather_500:before {
  content: "\e686";
}

/* line 419, ../scss/_icons.scss */
.icon-windy5:before {
  content: "\e688";
}

/* line 422, ../scss/_icons.scss */
.icon-snowy3:before, .weather_600:before {
  content: "\e689";
}

/* line 425, ../scss/_icons.scss */
.icon-snowy4:before {
  content: "\e68a";
}

/* line 428, ../scss/_icons.scss */
.icon-snowy5:before, .weather_601:before,
.weather_602:before,
.weather_611:before,
.weather_612:before,
.weather_615:before,
.weather_616:before,
.weather_620:before,
.weather_621:before,
.weather_622:before {
  content: "\e68b";
}

/* line 431, ../scss/_icons.scss */
.icon-weather5:before, .weather_301:before,
.weather_302:before,
.weather_310:before,
.weather_311:before,
.weather_312:before,
.weather_313:before,
.weather_314:before,
.weather_321:before {
  content: "\e68c";
}

/* line 434, ../scss/_icons.scss */
.icon-cloudy4:before {
  content: "\e68d";
}

/* line 437, ../scss/_icons.scss */
.icon-cloud5:before {
  content: "\e68e";
}

/* line 440, ../scss/_icons.scss */
.icon-lightning5:before {
  content: "\e68f";
}

/* line 443, ../scss/_icons.scss */
.icon-sun3:before {
  content: "\e690";
}

/* line 446, ../scss/_icons.scss */
.icon-moon2:before {
  content: "\e691";
}

/* line 449, ../scss/_icons.scss */
.icon-circle:before {
  content: "\e634";
}

/* line 452, ../scss/_icons.scss */
.icon-circle2:before {
  content: "\e663";
}

/*

#weather{
			
	font-family: 'Share';
	color: #aaabad;
	
			
}

#w_today{
		
	//weather
	#local_weather{
		
				
	}
	
	.weather_temp{
		
	}
		
	.weather_icon{
			
		.icon{
			font-size: 42px;
			line-height: 1em;
		}
	}
	
	
}

#w_forecast{
	
		
	padding: 10px;
	margin-bottom: 20px;
	
	
	table{
		width: 100%;
		
		td,th{
			padding: 0;
			text-align: center;
		}
		
		th{
			
			text-transform: uppercase;
			font-size: 14px;
		}
		
		table{
			
			td,th{
				
			}
		
			th{
				font-weight: 100;
				text-transform: none;
				padding-bottom: 4px;
				font-size: 12px;
			}	
		}
		
	}
	
	
	.weather_icon{
		
		padding: 10px 0 5px;
	
		
	
		.icon{
									
			font-size: 32px;
									
		}
	}
	
	.weather_desc{
		padding: 0px 0 20px;
		font-size: 12px;
		
		
	}
	
	.weather_temp{
		font-size: 18px;
		font-weight: 200;
		
	}
	
	.digit{
		font-weight: 400;
		
	}
	.unit{
		font-size: 12px;
	}
	.separator{
		font-weight: 100;
	}
	
	&.big{
		
		.weather_temp{
			font-size: 32px;	
			font-weight: 100;
			
		}
		
		.digit{
			font-weight: 400;
			
		}
		
		.unit{
			font-size: 12px;
			font-weight: bold;
		}

	}
	
}

*/
/*
ID	Meaning	Icon
200	 thunderstorm with light rain	 [[file:11d.png]]
201	 thunderstorm with rain	 [[file:11d.png]]
202	 thunderstorm with heavy rain	 [[file:11d.png]]
210	 light thunderstorm	 [[file:11d.png]]
211	 thunderstorm	 [[file:11d.png]]
212	 heavy thunderstorm	 [[file:11d.png]]
221	 ragged thunderstorm	 [[file:11d.png]]
230	 thunderstorm with light drizzle	 [[file:11d.png]]
231	 thunderstorm with drizzle	 [[file:11d.png]]
232	 thunderstorm with heavy drizzle	 [[file:11d.png]]
*/
/*
ID	 Meaning	Icon
300	 light intensity drizzle	 [[file:09d.png]]
301	 drizzle	 [[file:09d.png]]
302	 heavy intensity drizzle	 [[file:09d.png]]
310	 light intensity drizzle rain	 [[file:09d.png]]
311	 drizzle rain	 [[file:09d.png]]
312	 heavy intensity drizzle rain	 [[file:09d.png]]
313	 shower rain and drizzle	 [[file:09d.png]]
314	 heavy shower rain and drizzle	 [[file:09d.png]]
321	 shower drizzle	 [[file:09d.png]]
*/
/*
ID	 Meaning	Icon
500	 light rain	 [[file:10d.png]]
501	 moderate rain	 [[file:10d.png]]
502	 heavy intensity rain	 [[file:10d.png]]
503	 very heavy rain	 [[file:10d.png]]
504	 extreme rain	 [[file:10d.png]]
511	 freezing rain	 [[file:13d.png]]
520	 light intensity shower rain	 [[file:09d.png]]
521	 shower rain	 [[file:09d.png]]
522	 heavy intensity shower rain	 [[file:09d.png]]
531	 ragged shower rain	 [[file:09d.png]]
*/
/*
ID	 Meaning	Icon
600	 light snow	 [[file:13d.png]]
601	 snow	 [[file:13d.png]]
602	 heavy snow	 [[file:13d.png]]
611	 sleet	 [[file:13d.png]]
612	 shower sleet	 [[file:13d.png]]
615	 light rain and snow	 [[file:13d.png]]
616	 rain and snow	 [[file:13d.png]]
620	 light shower snow	 [[file:13d.png]]
621	 shower snow	 [[file:13d.png]]
622	 heavy shower snow	 [[file:13d.png]]
*/
/*
ID	 Meaning	Icon
701	 mist	 [[file:50d.png]]
711	 smoke	 [[file:50d.png]]
721	 haze	 [[file:50d.png]]
731	 Sand/Dust Whirls	 [[file:50d.png]]
741	 Fog	 [[file:50d.png]]
751	 sand	 [[file:50d.png]]
761	 dust	 [[file:50d.png]]
762	 VOLCANIC ASH	 [[file:50d.png]]
771	 SQUALLS	 [[file:50d.png]]
781	 TORNADO	 [[file:50d.png]]
*/
/*
ID	 Meaning	Icon
800	 sky is clear	 [[file:01d.png]] [[file:01n.png]]
801	 few clouds	 [[file:02d.png]] [[file:02n.png]]
802	 scattered clouds	 [[file:03d.png]] [[file:03d.png]]
803	 broken clouds	 [[file:04d.png]] [[file:03d.png]]
804	 overcast clouds	 [[file:04d.png]] [[file:04d.png]]
*/
@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  src: local("Share"), local("Share-Regular"), url(http://themes.googleusercontent.com/static/fonts/share/v2/V0tPyYest8OjeghtuqYjiaCWcynf_cDxXwCLxiixG1c.woff) format("woff");
}

@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 700;
  src: local("Share Bold"), local("Share-Bold"), url(http://themes.googleusercontent.com/static/fonts/share/v2/vq-obeo4cskP3gCfYTOfG3YhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}

/* line 18, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: "museo-sans-rounded";
}

/* line 29, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* line 37, ../scss/style.scss */
hr {
  border: none;
  border-top: 1px solid #d7e0e9;
  height: 0px;
  margin: 5px 0;
}

/* line 44, ../scss/style.scss */
.right {
  text-align: right;
}

/* line 48, ../scss/style.scss */
#graphic_container {
  position: relative;
  margin: 100px auto;
  width: 840px;
  height: 840px;
}

/* line 56, ../scss/style.scss */
#map_container {
  width: 380px;
  height: 380px;
  position: absolute;
  top: 230px;
  left: 230px;
  overflow: hidden;
}

/* line 67, ../scss/style.scss */
#map {
  background-color: #fff;
  width: 380px;
  height: 380px;
}

/* line 77, ../scss/style.scss */
.leaflet-control-container {
  position: absolute;
  z-index: 120;
  top: 160px;
}

/* line 83, ../scss/style.scss */
#mask {
  position: absolute;
  pointer-events: none;
  top: 230px;
  left: 230px;
  z-index: 99;
  width: 380px;
  height: 380px;
  background: transparent url("../images/circle_mask.png") 0 0 no-repeat;
}

/* line 96, ../scss/style.scss */
#output {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: #fff;
  z-index: 100;
}

/* line 106, ../scss/style.scss */
#profile_container {
  width: 840px;
  height: 840px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 105;
}

/* line 118, ../scss/style.scss */
#meta_right {
  position: absolute;
  right: 0px;
  top: 450px;
  width: 215px;
  padding-right: 5px;
  border-bottom: 1px solid #d7e0e9;
}

/* line 127, ../scss/style.scss */
#meta_left {
  position: absolute;
  left: 0px;
  top: 450px;
  width: 215px;
  padding-left: 5px;
  border-bottom: 1px solid #d7e0e9;
}

/* line 137, ../scss/style.scss */
#meta_bottom {
  color: #334f67;
  width: 100%;
  position: absolute;
  top: 640px;
  text-align: center;
}
/* line 146, ../scss/style.scss */
#meta_bottom h1, #meta_bottom h2, #meta_bottom h3, #meta_bottom h4, #meta_bottom h5, #meta_bottom h6 {
  margin-top: 0;
  margin-bottom: 0.25em;
}
/* line 152, ../scss/style.scss */
#meta_bottom h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 52px;
}
/* line 158, ../scss/style.scss */
#meta_bottom h2 {
  font-size: 28px;
  text-transform: uppercase;
}

/* line 169, ../scss/style.scss */
.meta_box {
  border-top: 1px solid #d7e0e9;
  color: #334f67;
  padding-top: 5px;
  margin-bottom: -7px;
}
/* line 176, ../scss/style.scss */
.meta_box .label {
  font-family: 'Share';
}
/* line 181, ../scss/style.scss */
.meta_box .big_digit {
  font-size: 52px;
  line-height: 1em;
}
/* line 187, ../scss/style.scss */
.meta_box .small_digit {
  font-size: 18px;
  line-height: 1em;
}
/* line 191, ../scss/style.scss */
.meta_box .small_digit .unit {
  font-size: 1em;
}
/* line 199, ../scss/style.scss */
.meta_box .unit {
  font-family: 'Share';
  font-size: 0.5em;
}
/* line 206, ../scss/style.scss */
.meta_box .digit {
  font-size: 52px;
  line-height: 1em;
  font-weight: 400;
}
/* line 212, ../scss/style.scss */
.meta_box .separator {
  font-size: 32px;
  font-weight: 100;
}
/* line 217, ../scss/style.scss */
.meta_box .spacer {
  width: 20px;
}
/* line 221, ../scss/style.scss */
.meta_box table {
  width: 100%;
}
/* line 223, ../scss/style.scss */
.meta_box table th.label {
  text-align: left;
  font-weight: normal;
}
/* line 227, ../scss/style.scss */
.meta_box table td {
  vertical-align: top;
}
/* line 234, ../scss/style.scss */
.meta_box .weather_icon .icon {
  font-size: 42px;
  line-height: 1em;
}

/* line 243, ../scss/style.scss */
#forecast {
  padding-bottom: 10px;
}
/* line 249, ../scss/style.scss */
#forecast .weather_icon .icon {
  font-size: 24px;
  line-height: 1em;
}
/* line 255, ../scss/style.scss */
#forecast hr {
  margin: 2px 0;
}
